@model Student
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">LinkedIn Profile</h1>
    <p>Learn about <a href="https://www.linkedin.com/in/vamsikrishnayadav/">3.4 years of experience in Building CI/CD Pipelines, Streamlined Deployments, Infrastructure Automation, Managing AWS Services</a>.</p>
    <br />
    <p> My name is: @Model.Name</p>
    <p> I live in: @Model.City</p>
</div>
